<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>debug</key>
	<true/>
	<key>rules</key>
	<array>
		<string>loopback</string>
		<string>rfc1918</string>
		<string>dns</string>
		<string>dhcp</string>
		<string>l2tpipsec</string>
	</array>
	<key>rule.rfc1918.activated</key>
	<false/>
	<key>rule.rfc1918.name</key>
	<string>LAN</string>
	<key>rule.rfc1918.comment</key>
	<string>Outgoing traffic destined for the local area network.</string>
	<key>rule.rfc1918.rules</key>
	<array>
		<string>table &lt;rfc1918&gt; const { 192.168.0.0/16 172.16.0.0/12 10.0.0.0/8 }</string>
		<string>pass out on { en0 en1 en2 en3 en4 } to &lt;rfc1918&gt;</string>
	</array>
</dict>
</plist>
