<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>debug</key>
	<true/>
	<key>rules.factory</key>
	<array>
		<string>loopback</string>
		<string>rfc1918</string>
		<string>dns</string>
		<string>dhcp</string>
		<string>l2tpipsec</string>
		<string>ppp</string>
	</array>
	<key>rules.user</key>
	<array>
		<string>tox</string>
	</array>
	<key>rule.blockout.activated</key>
	<true/>
	<key>rule.blockout.name</key>
	<string>Block all outgoing</string>
	<key>rule.blockout.comment</key>
	<string>Block everything leaving our Mac.</string>
	<key>rule.blockout.rules</key>
	<array>
		<string>block out all</string>
	</array>
	<key>rule.rfc1918.name</key>
	<string>LAN</string>
	<key>rule.rfc1918.comment</key>
	<string>Outgoing traffic destined for the local area network.</string>
	<key>rule.rfc1918.rules</key>
	<array>
		<string>table &lt;BrickRFC1918&gt; const { 192.168.0.0/16 172.16.0.0/12 10.0.0.0/8 }</string>
		<string>pass out on { en0 en1 en2 en3 en4 } to &lt;BrickRFC1918&gt;</string>
	</array>
	<key>rule.loopback.activated</key>
	<string>YES</string>
	<key>rule.loopback.name</key>
	<string>Localhost</string>
	<key>rule.loopback.comment</key>
	<string>Outgoing traffic destined for this very computer.</string>
	<key>rule.loopback.rules</key>
	<array>
		<string>set skip on lo0</string>
	</array>
	<key>rule.dns.name</key>
	<string>DNS</string>
	<key>rule.dns.comment</key>
	<string>Outgoing DNS requests, probably needed to resolve your remote VPN server</string>
	<key>rule.dns.rules</key>
	<array>
		<string>pass out on { en0 en1 en2 en3 en4 } proto { udp tcp } from any to any port domain</string>
	</array>
	<key>rule.dhcp.name</key>
	<string>DHCP</string>
	<key>rule.dhcp.comment</key>
	<string>Outgoing DHCP requests, useful if you have a USB stick modem.</string>
	<key>rule.dhcp.rules</key>
	<array>
		<string>pass out on { en0 en1 en2 en3 en4 } proto { udp tcp } from any port bootpc to any port bootps</string>
	</array>
	<key>rule.l2tpipsec.activated</key>
	<true/>
	<key>rule.l2tpipsec.name</key>
	<string>L2TP/IPSec</string>
	<key>rule.l2tpipsec.comment</key>
	<string>Establishment of L2TP over IPSec tunnels</string>
	<key>rule.l2tpipsec.rules</key>
	<array>
		<string>pass out on { en0 en1 en2 en3 en4 } proto udp from any to any port { isakmp l2f ipsec-msft }</string>
		<string>pass out on { en0 en1 en2 en3 en4 } proto esp from any to any</string>
	</array>
	<key>rule.ppp.activated</key>
	<true/>
	<key>rule.ppp.name</key>
	<string>VPN</string>
	<key>rule.ppp.comment</key>
	<string>Outgoing traffic through VPN tunnels</string>
	<key>rule.ppp.rules</key>
	<array>
		<string>pass out on ppp0 all</string>
	</array>
</dict>
</plist>
